/* nav bar css nav bar css nav bar css */
a {
  font-size: 14px;
  font-weight: 700;
}

.superNav {
  font-size: 13px;
}

.form-control {
  outline: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 540px) {
  .centerOnMobile {
      text-align: center;
  }
}

/* Sales Banner CSS- Static Sales banner Sales banner css */
.sales-banner {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #ffd700; /* Example color: gold */
  color: #000; /* Example color: black */
  font-size: 20px;
  font-weight: bold;
  border-top: 1px solid #ccc; /* Light grey top border */
  border-bottom: 1px solid #ccc; /* Light grey bottom border */
  margin-bottom: 65px;
}

:root {
/*  Primary */
--orange: hsl(26, 100%, 55%);
--pale-orange: hsl(25, 100%, 94%);

/* Neutral */
--very-dark-blue: hsl(220, 13%, 13%);
--dark-grayish-blue: hsl(219, 9%, 45%);
--grayish-blue: hsl(220, 14%, 75%);
--light-grayish-blue: hsl(223, 64%, 98%);
--white: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 0%);
}

html {
font-size: 62.5%;
box-sizing: border-box;
}

*,
*::before,
*::after {
padding: 0;
margin: 0;
box-sizing: inherit;
}

body {
font-family: "Kumbh Sans", sans-serif;
position: relative;
}

.body-wrapper {
position: absolute;
z-index: 50;
}


/* Product section styling */
.item {
  padding: 0 3rem;
  max-width: 134rem;
  margin: auto;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 10rem;
}

/* Left img container styling */
.img-main {
  max-width: 100%;
  border-radius: 5%;
  cursor: pointer;
  margin-bottom: 3.5rem;
  
}

/* Right item details styling */
.price {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.price-sub__heading {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--orange);
}

.price-main__heading {
  font-size: 5rem;
  font-weight: 700;
}

.price-txt {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: var(--dark-grayish-blue);
  line-height: 1.5;
}

.price-box {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.price-box__main {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.price-box__main-new {
  font-size: 3.5rem;
  font-weight: 700;
}

.price-box__main-discount {
  border: none;
  padding: 0.5rem 1.25rem;
  background-color: var(--pale-orange);
  border-radius: 0.5rem;
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--orange);
}

.price-box__old {
  font-size: 1.5rem;
  color: var(--grayish-blue);
  position: relative;
}

.price-box__old::after {
  content: "";
  height: 1px;
  width: 9%;
  background-color: var(--grayish-blue);
  position: absolute;
  left: 0;
  top: 50%;
}

.price-btnbox {
  margin-top: 2rem;
  display: flex;
  gap: 2.5rem;
}

.price-btns {
  width: 30%;
  padding: 1.5rem 1.25rem;
  border: none;
  background-color: var(--light-grayish-blue);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.5rem;
}

.price-btn {
  border: none;
  background: none;
  cursor: pointer;
  height: 100%;
}

.price-btn__txt {
  font-size: 1.7rem;
  font-weight: 700;
}

.price-cart__btn {
  width: 50%;
  box-shadow: 0px 10px 25px 3px rgba(255, 125, 26, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/* Btn styling */
.btn--orange {
  padding: 2rem 5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--orange);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

/* Attribution */
.attribution {
  margin-top: 7rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */
@media only screen and (max-width: 1100px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 850px) {
  .item {
    padding: 0;
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .price {
    padding: 0 3rem;
  }

  .price-box {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .price-box__old::after {
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .price {
    gap: 3rem;
  }
  .price-txt {
    margin-top: 0;
  }
  .price-btnbox {
    margin-top: 0;
  }

  .price-main__heading {
    font-size: 3.5rem;
  }

  .price-box__main-new {
    font-size: 3rem;
  }
}
/* Footer Styles */
footer {
  display: flex;
  background-color: black; /* Changed footer background to black */
  color: white; /* Changed text color to white */
}

.footerLeft {
  flex: 2;
  display: flex;

  justify-content: space-between;
  padding: 50px;
}

.fMenuTitle {
  font-size: 16px;
}

.fList {
  padding: 0;
  list-style: none;
}

.fListItem {
  margin-bottom: 10px;
  cursor: pointer;
}

.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fInput {
  padding: 5px;
}

.fButton {
  padding: 5px;
  background-color: black;
  color: white;
}

.fIcons {
  display: flex;
  
}

.fIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: rgb(253, 253, 253);
}

/* End of Footer Styles */

/* Media Query for Small Screens */
@media screen and (max-width: 480px) {
  footer {
      flex-direction: column;
      align-items: center;
  }

  .footerLeft {
      padding: 20px;
      width: 90%;
  }

  .footerRight {
      padding: 20px;
      width: 90%;
      align-items: center;
      background-color: black; /* Changed footer background to black */
  }

  .payment {
      width: 90%;
      padding: 20px;
  }
}
.id{
  display:none;
}